*{
margin:0;
font-family:Arial;
box-sizing:border-box;
}

.navbar{
height:60px;
background-color:#0f1111;
color:white;
display:flex;
align-items:center;
justify-content:space-evenly;
}

.nav-logo{
height:50px;
width:100px;
}

.logo{
background-image:url("https://pngimg.com/uploads/amazon/amazon_PNG11.png");
background-size:cover;
height:50px;
width:100%;
}

.nav-search{
display:flex;
width:600px;
height:40px;
}

.search-select{
width:50px;
border:none;
background:#f3f3f3;
}

.search-input{
width:100%;
border:none;
}

.search-icon{
width:45px;
display:flex;
justify-content:center;
align-items:center;
background:#febd68;
color:black;
}

.nav-cart i{
font-size:25px;
}

.panel{
height:40px;
background:#222f3d;
display:flex;
align-items:center;
color:white;
padding-left:20px;
}

.panel-ops p{
display:inline;
margin-left:15px;
}

.hero-section{
background-image:url("https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da");
height:350px;
background-size:cover;
background-position:center;
}

.shop-section{
display:flex;
justify-content:space-evenly;
background:#e2e7e6;
padding:20px;
}

.box{
height:350px;
width:23%;
background:white;
padding:15px;
}

.box-img{
height:250px;
width:100%;
object-fit:cover;
margin-top:10px;
margin-bottom:10px;
}

.foot-panel1{
background:#37475a;
color:white;
height:50px;
display:flex;
justify-content:center;
align-items:center;
}

.foot-panel2{
background:#222f3d;
color:white;
display:flex;
justify-content:space-evenly;
padding:30px;
}

ul a{
display:block;
margin-top:10px;
color:#ddd;
}
